In [1]:
#Pandas library
import pandas as pd

In [2]:
#Load csv file
game_data = pd.read_csv("purchase_data.csv")

In [3]:
#review csv file
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Review total number of players
num_players = game_data["SN"].nunique()
num_items = game_data["Item ID"].nunique()
avg_purch = game_data["Price"].mean()
num_purch = game_data["Purchase ID"].count()
tot_revenue = game_data["Price"].sum()

In [5]:
#Purchasing Analysis (Total)
purch_df = pd.DataFrame({"Total_Items":[num_items],
                         "Avg_Price":[avg_purch],
                         "Total_Purchases":[num_purch],
                         "Total_Revenue":[tot_revenue],
                         "Total_Players":[num_players]})
purch_df['Avg_Price'] = purch_df['Avg_Price'].map('${:,.2f}'.format)
purch_df['Total_Revenue'] = purch_df['Total_Revenue'].map('${:,.2f}'.format)
purch_df

   Total_Items Avg_Price  Total_Purchases Total_Revenue  Total_Players
0          179     $3.05              780     $2,379.77            576

In [21]:
#Demographics Analysis (Gender)
gender = game_data.groupby(["Gender"])
pergen = (gender["SN"].nunique()/num_players)
countgen = gender["SN"].nunique()
stat_gen = pd.DataFrame({"Total_Players": countgen,
                         "%_Players": pergen})
stat_gen['%_Players'] = stat_gen['%_Players'].map('{:.2%}'.format)
stat_gen

                       Total_Players %_Players
Gender
Female                            81    14.06%
Male                             484    84.03%
Other / Non-Disclosed             11     1.91%

In [32]:
#Purchasing Analysis (Gender) 
purchgen = gender["Purchase ID"].count()
sumpurchgen = gender["Price"].sum()
avgpurch = sumpurchgen / purchgen
avgpurchper = sumpurchgen / countgen
purch_gen = pd.DataFrame({"Count":purchgen,
                          "Avg_Purchase":avgpurch,
                          "Total_Purchase":sumpurchgen,
                          "Avg_Total_Purchase_Person":avgpurchper})
purch_gen['Avg_Purchase'] = purch_gen['Avg_Purchase'].map('${:,.2f}'.format)
purch_gen['Total_Purchase'] = purch_gen['Total_Purchase'].map('${:,.2f}'.format)
purch_gen['Avg_Total_Purchase_Person'] = purch_gen['Avg_Total_Purchase_Person'].map('${:,.2f}'.format)
purch_gen

,Count,Avg_Purchase,Total_Purchase,Avg_Total_Purchase_Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56