In [1]:
#Pandas library
import pandas as pd

In [2]:
#Load csv file
game_data = pd.read_csv("purchase_data.csv")

In [3]:
#review csv file
game_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Review total number of players
num_players = game_data["SN"].nunique()
num_items = game_data["Item ID"].nunique()
avg_purch = game_data["Price"].mean()
num_purch = game_data["Purchase ID"].count()
tot_revenue = game_data["Price"].sum()

In [5]:
#Purchasing Analysis (Total)
purch_df = pd.DataFrame({"Total_Items":[num_items],
                         "Avg_Price":[avg_purch],
                         "Total_Purchases":[num_purch],
                         "Total_Revenue":[tot_revenue],
                         "Total_Players":[num_players]})
purch_df['Avg_Price'] = purch_df['Avg_Price'].map('${:,.2f}'.format)
purch_df['Total_Revenue'] = purch_df['Total_Revenue'].map('${:,.2f}'.format)
purch_df

   Total_Items Avg_Price  Total_Purchases Total_Revenue  Total_Players
0          179     $3.05              780     $2,379.77            576

In [6]:
#Purchasing Analysis (Gender)
gender_count = pd.DataFrame({"Count":game_data["Gender"].value_counts(),
                             "Percentage":(game_data["Gender"].value_counts()/game_data["Gender"].count())})
gender_count['Percentage'] = gender_count['Percentage'].map('{:.2%}'.format)
gender_count

                       Count Percentage
Male                     652     83.59%
Female                   113     14.49%
Other / Non-Disclosed     15      1.92%

In [7]:
gen1=game_data.groupby(['Gender']).agg({'Price':'sum'})
gen1

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19